.game-container{
    width: 100%;
    justify-content:center;
    align-items: center;
    display: flex;
}

.game-board{
        padding: 1rem;
        background-color: #ededed;
        margin: 2rem auto;
        width: 50rem;
        max-width: 95%;    
      
}